#ivm-mega-menu-wrapper {
    display:none;
    position:absolute;
    box-sizing: border-box;
    padding-top:10px;
}
#ivm-mega-menu-wrapper.ivm-active {
    display:block !important;
}

#ivm-mega-menu {
    display:block;
    position:relative;
    width:250px;
}

#ivm-mega-menu-items {
    box-sizing:border-box;
    width:100%;
    padding:20px 0;
    border:1px solid #ddd;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.08)
}
#ivm-mega-menu-items li > a {
    display:block;
    box-sizing:border-box;
    padding:5px 25px;
}
#ivm-mega-menu-items li:hover a {
    background: #eee;
}

.ivm-mega-menu-panel {
    display:none;
    box-sizing: border-box;
    position:absolute;
    left:100%;
    top:0;
    padding:30px;
    border:1px solid #ddd;
    width:600px;
    background: #fff;
    margin-left:-1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.08);
}

#ivm-mega-menu ul {
    list-style:none;
}

#ivm-mega-menu h4 {
    margin:0px;
}

/* ==================================================================
    Responsive
================================================================== */
.ivm-mm-item-mobile {
    display:none;
}

@media (max-width: 768px) {

    #ivm-mega-menu-wrapper {
        left:1%;
        right:1%;
        width:98%;
        max-width:100%;
        background: #fff;
        z-index:1002;
    }
    #ivm-mega-menu {
        width:100%;
        max-width:100%;
        border:1px solid #ddd;
        border-bottom:none;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    }
    #ivm-mega-menu-items {
        display:none;
    }
    .ivm-mega-menu-panel {
        position:relative;
        display:none;
        left:0;
        width:100%;
        max-width:100%;
        box-shadow:none;
        border:none;
        border-bottom:1px solid #ddd;
        margin-left:0;
    }
    .ivm-mega-menu-panel .uk-grid > div + div {
        margin-top:20px;
    }
    .ivm-mm-item-mobile {
        display:block;
        box-sizing: border-box;
        height:40px;
        line-height:40px;
        padding:0 15px;
        border-bottom:1px solid #ddd;
    }
    .ivm-mm-item-mobile.ivm-active + .ivm-mega-menu-panel {
        display:block;
    }


}
